/* font 1 */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font 2 */
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* shared styles !!! */
*{
  margin: 0;
}

.container{
  width: 90%;
  margin: 4rem auto;
}

.linear-gradient-bg{
  background: linear-gradient(180deg, rgb(17,17,17),rgba(129, 129, 129, 0) 100%);
}

.choto-text{
  color: rgba(255, 255, 255, 0.5);
  
  font-size: 1rem;
  font-weight: 400;
}


.red-btn{
  border-radius: 42px;
  background: rgb(230, 83, 60);
}
/* usage of display:flex */
.display-flex{
  display: flex;
}
/* header a flex used in: .navbar, .nav-links,.full-slide-2 */



/* usage of display:grid */
.display-grid{
  display: grid;
}


/* colors */
.komola{
  color: rgb(230, 83, 60);
}



/* header section !!!*/
.header{

  border: 1px solid white;
}

.fitness{
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1.75rem;
  /* line-height: 120%; */
  /* letter-spacing: 0%; */
  /* text-align: left; */
}

.nav-links{
  
}

.nav-item{
  list-style: none;
}

.nav-option{
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  margin-right: 3rem;

}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.btn{
  border-radius: 2.5rem;
  border: none;
  position: static;
  width: 14rem;
  height: 3.25rem;
  color: white;
  font-size: 1.1rem;
}

.btn2{
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 1px solid white; */
}

.shape{
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
  font-weight: 900;
  width: 32.5rem;
  height: 17.5rem;
  margin-bottom: 1.75rem;
  /* line-height: 120%;
  letter-spacing: 0%; */
  text-align: left;
}

.choto1{
  margin-bottom: 1.75rem;
  width: 32.5rem;
  height: 3rem;   
}

.slide1{
  width: 90%;
  margin: 4rem auto;
}

.full-slide-2{
  
  width: 90%;
  margin: 4rem auto;

}



/* media query */
/* mobile */
